header {
  background: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  /* width: 100; */
}
img {
  margin-left: -40px;
  width: 358px;
  height: 101px;
}

.container {
  display: flex;
  align-items: center;
}
